[submodule "Prototyping/vendor/pico-sdk"]
	path = Prototyping/vendor/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "Prototyping/vendor/picotool"]
	path = Prototyping/vendor/picotool
	url = https://github.com/raspberrypi/picotool
[submodule "Hardware/Case/lib/ScrewsMetric"]
	path = Hardware/Case/lib/ScrewsMetric
	url = https://github.com/More-Wrong/ScrewsMetric
